:root {
    --color1: black;
    --color2: black;
    --color3: white;
}

#editor,
#title,
#save,
#loader,
#menuCloser,
#menuOpener {
    color: var(--color1);
    border: 2px solid var(--color2);
    background-color: var(--color3);
    margin: 1% 0;
    width: 100%;
    display: block;
    text-align: center;
    user-select: none;
}

#editor {
    text-align: left;
    display: block;
}

#save {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2px, 0, 2px;
    margin-bottom: 1%;
}

#loader {
    background: none;
    text-align: center;
    display: block;
}

#hiddenLoader {
    display: none;
}

#menuOpener,
#menuCloser {
    cursor: pointer;
}

#hiddenMenuOpener {
    display: none;
}

#menuCard {
    display: none;
}

#hiddenMenuOpener:checked~#menuCard {
    display: block;
}

#hiddenMenuOpener:checked~#editor,
#hiddenMenuOpener:checked~#menuOpener {
    display: none;
}

#menuCloser {
    cursor: pointer;
}